<p><a href="/">Liked Practice - <em>practice linked</em></a></p>
<nav>
    <details>
        <summary>Bitcoin Address</summary>
        <pre>1HqWhhsYyn6ihba8gRUcpETb8uR8xmsrK9</pre>
      </details>
    <a href="https://github.com/" target="blank">Github</a>
</nav>